# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env & secrets
.env
*.env
!.env.example

# Outils
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Divers
*.log

# Lockfile parasite (projet Poetry)
uv.lock
